{% extends 'layout.html' %} 
{% block title %} 
    Add Product 
{% endblock %} 

{% block content %}
    <section class="container" style="max-width: 600px">
        <h2>Create Product</h2>
        <hr /> <br>

        {% if error %}
        <div class="alert alert-danger" role="alert">
            {{error}}
        </div>
        <br /><br />
        {% endif %}

        <form
            action="{% url 'create' %}"
            method="post"
            enctype="multipart/form-data"
            class="row g-3"
        >
            {% csrf_token %}
            <div class="col-12">
                <label for="title" class="form-label">Title*</label>
                <input required type="text" class="form-control" id="title" name="title" />
            </div>
            <div class="col-12">
                <label for="url" class="form-label">Link to product*</label>
                <textarea required class="form-control" rows="1" name="url" id="url"></textarea>
            </div>
            <div class="col-md-6">
                <label for="image" class="form-label">Product Image*</label>
                <input required
                    name="image"
                    class="form-control form-control-sm"
                    id="image"
                    type="file"
                />
            </div>
            <div class="col-md-6">
                <label for="icon" class="form-label">Product Icon*</label>
                <input required
                    name="icon"
                    class="form-control form-control-sm"
                    id="icon"
                    type="file"
                />
            </div>
            <div class="col-12">
                <label for="body" class="form-label">Body*</label>
                <textarea required name="body" class="form-control" rows="3" id="body"></textarea>
            </div>
            <div class="col-12">
                <button type="submit" class="btn btn-success">Add Product</button>
            </div>
        </form>
    </section>
{% endblock %}
